html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.user-info {
    width: 80%;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    background: darkgray;
}

.img-box {
    width: 200px;
    height: 200px;
    margin: auto;
}

p {
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    margin-top: 10px;
}